/* GENERAL */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container-fluid {
    max-width: 900px;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: auto;
    margin-left: auto;

}

.content {
    float: center;
    width: 100%;
    font-size: 1.2em;
    text-align: justify;
    margin-top: 2em;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
}

h2 {
    padding-top: 1em;
    font-size: 1.7em;
    font-weight: 300;
}

a {
    background-color: #ffffff;
    color: #0C5280;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.hs {
    font-weight: 400;
}

/* BIBLIO */
.bibitem {
    margin-bottom: 0.5em;
}

.title {
    Font-weight: 400;
}

.desc {
    font-style: italic;
}

.note {
    font-style: italic;
}

/* HEADER */
.header {
    padding-top: 4em;
}

.header h2 {
    margin-top: 0;
    padding-top: 0;
}

.header p {
    padding-top: 1em;
    font-size: 1.2em;
    font-style: italic;
}

.header img {
    width: 150px;
    float: right;
}

ul.a {
    list-style-type: square;
    list-style-position: outside;
    padding-left: 1.5em;
}

li::marker {
    color: rgb(218, 218, 218);
    content: square;
}

/* HACK FOR MOBILE */
@media (max-width: 900px) {
    .container-fluid {
        padding-right: 5em;
        padding-left: 5em;
    }

    body {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .container-fluid {
        padding-right: 3em;
        padding-left: 3em;
    }

    .content {
        text-align: left;
    }

    .header img {
        float: none;
    }
}