/* GENERAL */

body {
    font-family: "Helvetica Neue", HelveticaNeue, "Open Sans", OpenSans, Arial, Helvetica, sans-serif;
    Font-weight: 300;
}

.container-fluid {
    background-color: #fff;
    color: #000000;
    text-align: left;
    max-width: 900px;
    margin-left: 15%;
    margin-right: 15%;

}

.content {
    float: center;
    width: 100%;
    font-size:1.2em;
    text-align: justify;
    margin-top: 2em;
}


h1 {
    font-size:2.5em;
    Font-weight: 300;
}

h2 {
    font-size:1.7em;
    Font-weight: 300;
}

section {
    padding-bottom: 1em;
}

a {
    background-color: #ffffff;
    color: #0C5280;
    text-decoration: none;
    Font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.hs { 
    /* display: inline-block; 
    width: 6em;  */
    Font-weight: 400;
}

/* BIBLIO */

.bibitem {
    margin-bottom: 1em;
}

.title {
    Font-weight: 400;
}

.desc {
    font-style: oblique;
}



/* HEADER */

.header {
    padding-top:2.5em;
}

.header h2 {
    margin-top:0;
}

.header p {
    padding-top: 1em;
    font-size: 1.2em;
    font-style: oblique;
}

.header img {
    max-width:100%;
    max-height:100%;
    width:150px;
    float: right;
    border-radius: 50%;
}
/* HACK FOR MOBILE */

@media (max-width: 1200px) {
    .container-fluid {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 766px) {
    .header img {
        padding-top: 1em;
        float: none;
    }
    
    .content {
        text-align: left;
    }
    .container-fluid {
        margin-left: 5%;
        margin-right: 5%;
    }
}
